#Question 1

Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

..............

Answer 1 -

My birth year is 1996, therefore, the list will be as below:

In [ ]:
years_list = [1996, 1997, 1998, 1999, 2000, 2001]

#Question 2

In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

..............

Answer 2

My third b'day will be in 1999.

#Question 3

In the years list, which year were you the oldest?

.............

Answer 3 -

I will be oldest in 2001.

#Question 4

Make a list called things with these three strings as elements: "mozzarella", "cinderella",
"salmonella".

..............

Answer 4 -

Below is a list called "things" with the mentioned strings:

In [ ]:
things = ["mozzarella", "cinderella", "salmonella"]

#Question 5

Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

.............

Answer 5 -

To capitalize the element in the `"things"` list that refers to a person, which is "cinderella" in this case, we can use the **capitalize()** method. Here's how you can do it:

In [ ]:
things = ["mozzarella", "cinderella", "salmonella"]
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

As you can see, the element "cinderella" has been capitalized to "Cinderella" in the list.

Therefore, yes it did change the elements in the list.

#Question 6

Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

..............

Answer 6

Below is the list:

In [ ]:
surprise_list = ["Groucho", "Chico", "Harpo"]

#Question 7

Lowercase the last element of the surprise list, reverse it, and then capitalize it.

.............

Answer 7 -

Use the code below for the same:

In [ ]:
surprise_list = ["Groucho", "Chico", "Harpo"]
last_element = surprise_list[-1].lower()
reversed_element = last_element[::-1]
capitalized_element = reversed_element.capitalize()
surprise_list[-1] = capitalized_element

In [ ]:
print(surprise_list)

['Groucho', 'Chico', 'Oprah']

The code first retrieves the last element of the list, converts it to lowercase using the **lower()** method. Then, it reverses the lowercase element using `slicing` with **[::-1]** . Finally, the reversed element is `capitalized` using the **capitalize()** method. The resulting element is then printed, which is `"Oprah"` in this case.

#Question 8

Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

..............

Answer 8 -

English-to-French dictionary called "e2f" with the given starter words:

In [ ]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#Question 9

Write the French word for walrus in your three-word dictionary e2f.

..............

Answer 9 -

The French word for "walrus" in the dictionary "e2f" is "morse".

#Question 10

Make a French-to-English dictionary called f2e from e2f. Use the items method.

...............

Answer 10 -
This is how you can create a French-to-English dictionary called "f2e" from the existing "e2f" dictionary using the **items()** method:

In [ ]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

f2e = {value: key for key, value in e2f.items()}

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

The dictionary comprehension **`f2e = {value: key for key, value in e2f.items()}`** creates a new dictionary `"f2e"` by swapping the keys and values of the `"e2f"` dictionary using the **items()** method. Now, the `"f2e"` dictionary maps French words to their corresponding English translations.

#Question 11

Print the English version of the French word chien using f2e.

...............

Answer 11 -

We can do it by the method below:

In [ ]:
f2e = {'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}
french_word = 'chien'
english_translation = f2e[french_word]
print(english_translation)

dog

The above code retrieves the English translation from the `"f2e"` dictionary by using the French word `"chien"` as the key. It then prints the corresponding English translation, which is `"dog"` in this case.

#Question 12

Make and print a set of English words from the keys in e2f.

...............

Answer 12 -

To create and print a set of English words from the keys in the `"e2f"` dictionary, you can use the **keys()** method along with the **set()** function. Here's an example:

In [ ]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

english_words = set(e2f.keys())
print(english_words)

{'dog', 'cat', 'walrus'}

#Question 13

Make a multilevel dictionary called life. Use these strings for the topmost keys: "animals", "plants",
and "other". Make the "animals" key refer to another dictionary with the keys "cats", "octopi", and
"emus". Make the "cats" key refer to a list of strings with the values "Henri", "Grumpy", and "Lucy".
Make all the other keys refer to empty dictionaries.

................

Answer 13 -

A multilevel dictionary called "life" based on the provided structure:

In [ ]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

#Question 14

Print the top-level keys of life.

...............

Answer 14 -

To print the top-level keys of the `"life"` dictionary, you can use the **keys()** method. Here's how you can do it:

In [2]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

top_level_keys = life.keys()
print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

The code retrieves the keys at the top level of the "life" dictionary using the **keys()** method. It then prints the top-level keys, which are 'animals', 'plants', and 'other', in this case.

#Question 15

Print the keys for life['animals'].

...............

Answer 15 -

To print the keys for the dictionary `life['animals']` , which is a nested dictionary within the life dictionary, you can access it and use the **keys()** method. Here's an example:

In [3]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

# Accessing the 'animals' dictionary within 'life'
animals_dict = life['animals']

# Printing the keys of 'animals' dictionary
animal_keys = animals_dict.keys()
print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

#Question 16

Print the values for life['animals']['cats']

................

Answer 16 -

To print the values for `life['animals']['cats']` , you can access the nested dictionary and retrieve the corresponding values. Here's an example:

In [4]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

# Accessing the values of 'life['animals']['cats']'
cat_values = life['animals']['cats']

# Printing the values of 'cats'
print(cat_values)

['Henri', 'Grumpy', 'Lucy']